<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/81228608-2ccb-45f2-bccc-879c2733350a/resourceGroups/rg-endgame-dev/providers/Microsoft.Web/sites/func-endgame-f1-dev</ResourceId>
    <ResourceGroup>rg-endgame-dev</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://func-endgame-f1-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>func-endgame-f1-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>func-endgame-f1-dev</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$func-endgame-f1-dev</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>